h1 {
	font-family:"HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif;
	margin-right:10px;
	margin-bottom:0;
	color: black;
}

h2 {
	font-family:"HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size:1.2vem;
	color:black;
}

/*REGULAR LINKS*/

/* links */
.textlink:link, .textlink:active, .textlink:visited {
	color: #2E86C1;
	text-decoration: none;
}

/* mouse over link */
.textlink:hover {
	color:#fff;
	text-decoration: none;
	background-color:#bbb;
}

/*ICON LINKS*/

.fa, .ai {
	color:#2E86C1;
	font-size:20px;
}

.fa:hover, .ai:hover {
	color:#bbb;
}

.nolink .fa, .nolink .ai {
	color:#aaa;
	font-size:16px;
}

.webicons {
		margin-top:50px;
		text-align:right;
}

.webicons .fa, .webicons .ai {
	color:#2E86C1;
	font-size:30px;
	padding-left:16px;
}

.iconlinks:hover .fa, .iconlinks:hover .ai {
	color:#bbb;
	text-decoration: none;
	text-emphasis-style: none;
	background-color:none;
}

/*BODY FORMATTING*/

div.page {
	padding:0px;
	margin-top:50px;
	margin-left:50px;
	width: 1000px;
	text-align: justify;
	text-justify: inter-word;
}

div.body {
	margin-top:100px;
	text-align: justify;
	text-justify: inter-word;
}

p.body {
	font-family:"HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size:0.8vem;
	padding: 0vem;
	color:black;
}

.column-index {
	display:flex;
	justify-content: space-between;
	max-width:1000px;
	text-align:left;
	margin-top:100px;
}

.column-image {
	width:20%;
}

.column-position {
	width:20%;
}

.column-contact {
	width:28%;
}

.column-education {
	width:28%;
}

img {
	width:200px;
	border: 2px solid black;
}

img.textwrap {
	float:right;
	margin-right:0px;
	margin-top:0px;
	margin-left:20px;
}

/*NAVIGATION BELOW*/

#primary_nav_wrap
{
	margin-top:15px;
}

#primary_nav_wrap ul
{
	list-style:none;
	float:right;
	margin:0;
	padding:0
}

#primary_nav_wrap ul a
{
	display:block;
	text-decoration:none;
	color:#333;
	font-weight:700;
	font-size:1vem;
	line-height:32px;
	padding:0 15px;
	font-family:"HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif
}

#primary_nav_wrap ul li
{
	position:relative;
	float:left;
	margin:0;
	padding:0
}

#primary_nav_wrap ul li.current-menu-item
{
	background:#ddd;
}

#primary_nav_wrap ul li:hover a
{
	background:#bbb;
}

#primary_nav_wrap ul li:hover > ul
{
	display:block
}
