h1 {
	font-family:"HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif;
	margin-right:1rem;
	margin-bottom:0rem;
	color:#ddd;
}

h2 {
	font-family:"HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size:1.2rem;
	color:#ddd;
}

/*REGULAR LINKS*/

/* links */
.textlink:link, .textlink:active, .textlink:visited {
	color: #87CEFA;
	text-decoration: none;
}

/* mouse over link */
.textlink:hover {
	color:#fff;
	text-decoration: none;
	background-color:#666;
}

/*ICON LINKS*/

.fa, .fa-li, .ai, .ai-li {
	font-size:1.3rem;
	color:#87CEFA;
}

.fa:hover, .ai:hover, .fa-li:hover, .ai-li:hover {
	color:#bbb;
}

.fa-file-pdf-o {
	font-size:1.3rem !important;
}

.nolink .fa, .nolink .ai, .nolink .fa-li, .nolink .ai-li {
	color:#ddd;
	font-size:1.3rem;
}

.webicons {
	margin-top:3.125rem;
	margin-right:1rem;
	text-align:right;
}

.webicons .fa, .webicons .ai {
	color:#87CEFA;
	font-size:2rem;
	padding-left:1rem;
}

.iconlinks:hover .fa, .iconlinks:hover .ai {
	color:#bbb;
	text-decoration: none;
	text-emphasis-style: none;
	background-color:none;
}

/*BODY FORMATTING*/

body {
  background:#222;
}

div.page {
	padding:0px;
	margin-top:50px;
	margin-left:100px;
	width:1000px;
	text-align:justify;
	text-justify:inter-word;
}

div.body {
	margin-top:100px;
	text-align:justify;
	text-justify:inter-word;
}

p.body {
	font-family:"HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size:1rem;
	padding:0rem;
	color:#ccc;
}

.column-index {
	display:flex;
	justify-content: space-between;
	max-width:1000px;
	text-align:left;
	margin-top:100px;
	margin-right:1rem;
}

.column-image {
	width:18%;
}

.column-position {
	width:22%;
}

.column-contact {
	width:29%;
}

.column-education {
	width:28%;
}

img {
	float:left;
	width:200px;
	border: 2px solid #ccc;
}

img.textwrap {
	float:right;
	margin-right:0rem;
	margin-top:0rem;
	margin-left:20px;
}

/*NAVIGATION BELOW*/

#primary_nav_wrap
{
	margin-top:1rem;
}

#primary_nav_wrap ul
{
	list-style:none;
	float:right;
	margin:0;
	padding:0
}

#primary_nav_wrap ul a
{
	display:block;
	text-decoration:none;
	color:#ddd;
	font-weight:700;
	font-size:1rem;
	line-height:2rem;
	padding:0rem 1rem;
	font-family:"HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif
}

#primary_nav_wrap ul li
{
	position:relative;
	float:left;
	margin:0;
	padding:0
}

#primary_nav_wrap ul li.current-menu-item
{
	background:#444;
}

#primary_nav_wrap ul li:hover a
{
	background:#666;
}

#primary_nav_wrap ul li:hover > ul
{
	display:block
}
